.container {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;

	h2 {
		font-size: 2rem;
		font-weight: bold;
		color: #000;
		margin-bottom: 10px;
	}

	.table {
		width: 100%;
		border-spacing: 1;
		.tableHeader {
			background-color: #68d4ca;
			color: white;
			height: 40px;
			border-radius: 24px;

			tr {
				th {
					padding: 10px;
					text-align: start;
				}
			}
		}

		tbody {
			tr {
				td {
					justify-content: center;
					color: rgb(112, 112, 112);
					padding: 10px;
				}

				td.actionButtons {
					display: flex;
					text-indent: center;
					column-gap: 10px;
					font-weight: 400;

					button {
						border: none;
						background-color: transparent;
						font-size: 1.5rem;
						color: #000;
						transition: 0.3s;

						i {
							font-size: 16px;

							color: #999999;
							transition: 0.3s;

							&:hover {
								transition: 0.3s;
								opacity: 70%;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}
